font-family-default($weight)
  font-family 'Martel', Verdana, Geneva, sans-serif
  font-weight $weight

$font-family-default-400
  font-family-default(400)

$font-family-default-700
  font-family-default(700)

font-family-alt($weight)
  font-family 'Martel Sans', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif
  font-weight $weight

$font-family-alt-400
  font-family-alt(400)

$font-family-alt-700
  font-family-alt(700)

$font-family-title-500
  font-family 'Laila', Verdana, Geneva, sans-serif
  font-weight 500
