doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title The PR Quest (Canada edition)
    meta(name='description' content='Tracking our progress toward proportional representation in Canada.')
    link(href='https://fonts.googleapis.com/css?family=Laila:500&text=ThePRQuest%20' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Martel+Sans:400,700|Martel:400,700&amp;subset=latin-ext' rel='stylesheet')
  body
    div.vue-app
